/// VARIABLES
$font-poppins: 'Poppins', sans-serif;
$font-source-sans: 'Source Sans Pro', sans-serif;;
$font-default: 1.25rem;
$font-title: 3rem;
$font-light: 100;
$font-regular: 400;
$font-button: $font-poppins;
$font-input: $font-poppins;

// BASE COLORS
$alabaster: #fafafc;
$white-lilac: #faf9fc;
$envy: #87a487;
$cabbage-pont: #3a503c;
$shilo: #ecb2a9;
$watusi: #ffdfd4;

// NAMED COLORS
$font-deep-color: $cabbage-pont;
$font-bright: $alabaster;
$title-deep-color: $cabbage-pont;
$title-bright-color: $envy;
$border-color: $envy;
$border-focus-color: $shilo;
$button-background-transition-color: $envy;
$button-color: $cabbage-pont;
$button-transition-color: $shilo;
$border-bright-color: $envy;
$icon-separator-color: $cabbage-pont;
$background-menu-color: $alabaster;
$button-color-font: $cabbage-pont;
$mask: #68686BBB;
$radio-color: $shilo;
$radio-hover-color: $envy;
$select-selected-color: $watusi;
$select-option-color: $envy;
$shadow: 0.1rem 0.7rem 2rem -1rem $cabbage-pont;

/// FUNCTIONS
@function calculateRem($size, $scale: 1) {
	@return $size/16px * 1rem * $scale;
}

/// MIXINS
@mixin background-color($color1: $white-lilac, $color2: $alabaster) {
	background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

@mixin separator($url:'../../assets/icon3.svg') {
	text-align: center;
	&:before {
		content: '';
		-webkit-mask-image: url($url);
    -webkit-mask-size: 100% 100%;;
		mask-image: url($url);
		mask-size: 100% 100%;
		background-color:$icon-separator-color;
		display: block;
		margin: 0 auto;
		padding-bottom: 3rem;
		height: 1em;
		width: 1em;
	}
}